/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
  /* Links */

a {
  color: #248a83;

  &:hover,
  &:focus,
  &:active {
    color: #f0e4d1;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}
  .site-header {
    background-color: hsla(0,0%,100%,.85);
    border-bottom: 1px solid #c1c1c1;
    padding: 0.5rem 0;
    position: relative;
    transition: top 0.5s linear;
    width: 100%;
    z-index: 3;
    &.reverse-header {
      background-color: transparent;
      border-bottom: 0;
      position: absolute;
      text-shadow: 1px 1px 2px #323232;
      h1 {
        background: url(../../images/logos/inhabitent-logo-tent-white.svg) no-repeat;
        background-size: 50px 33px;
      }
      a {
        color: #FFF;
        text-transform: uppercase;
        &:visited {
          color: #FFF;
        }
      }
      .header-search {
        fieldset {
          input[type='search'] {
            color: #FFF;
            &::placeholder {
              color: #f0e4d1;
              opacity: 1;
            }
          }
        }
      }

    }
    .container {
      display: flex;
      justify-content: space-between;
      .main-navigation {
        font-family: 'Novecento Sans Web';
        li {
          padding-right: 1.5rem;
        }
        display: flex;
        text-transform: uppercase;
      }
      .header-search {
        .search-toggle {
          float: left;
        }
        fieldset {
          border: 0;
          padding: 0;
          margin: 0;
          label {
            display: none;
            float: left;
            color: #2f1339;
            font-family: 'Novecento Sans Web';
            font-size: 17.6px;
            font-size: 1.1rem;
            margin-bottom: .5rem;
            text-transform: uppercase;
            
            &.active {
              display: block;
            }
          }
          input[type='search'] {
            border: 0;
            background: transparent;
            font-family: 'Novecento Sans Web';
            margin-left: .75rem;
            padding: 0 .3rem;
            text-transform: uppercase;
            width: 0%;
            -webkit-transition: width 2s;
            &.active {
              width: 100%;
              -webkit-transition: width 2s;
            }
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
    h1 {
      background: url(../../images/logos/inhabitent-logo-tent.svg) no-repeat;
      background-size: 50px 33px;
      height: 33px;
      margin: 0;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      width: 50px;
    }
  }
